    html {
      font-family: "Arial", sans-serif;
    }
#slider1_container {
    margin: 0px;
    padding: 0px;
}
    body {
        color: white;
                  margin: 0;
    }
.img-responsive {
        width: 100%;
    height: auto;
}
.slide_container {
    display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
text-align: center;
z-index: 1;
}
.container_master {
position:relative;top:0;left:0;width:100%;height:100%;overflow:hidden;
}
.jssor_1_div {
    position:relative;margin:0 auto;top:0px;left:0px;width:960px;height:640px;overflow:hidden;visibility:hidden;
}
.loading_style {
    position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);
}
.spin {
    margin-top:-19px;position:relative;top:50%;width:38px;height:38px;
}
.slides_data {
    cursor:default;position:relative;top:0px;left:0px;width:960px;height:640px;overflow:hidden;
}
h2 {
         margin: 0.1em;
    line-height: 1em;
      font-size: 7rem;
    display: block;
    font-family: "NeoSansPro-Bold";
    text-transform: uppercase;   
}
.small_font {
font-weight: 100;
    font-family: "NeoSansPro-Regular"; 
    text-transform: none;
}
.slide_01_bg {
      height: 100vh;
      background-image: url('../img/background_first.jpg');

}
.slide_02_bg {
      height: 100vh;
      background-image: url('../img/slide_02.jpg');
 
}
.slide_03_bg {
      height: 100vh;
      background-image: url('../img/slide_03.jpg');

}
.slide_04_bg {   
      height: 100vh;
      background-image: url('../img/slide_04.jpg');

}
.slide_05_bg {
      height: 100vh;
      background-image: url('../img/slide_05.jpg');
}
.slide_06_bg {   
      height: 100vh;
      background-image: url('../img/slide_06.jpg');

}
.slide_07_bg {   
      height: 100vh;
      background-image: url('../img/slide_07.jpg');

}
.slide_08_bg {   
      height: 100vh;
      background-image: url('../img/slide_08.jpg');

}
.slide_09_bg {   
      height: 100vh;
      background-image: url('../img/slide_09.jpg');

}
.slide_10_bg {   
      height: 100vh;
      background-image: url('../img/slide_10.jpg');

}
.slide_11_bg {   
      height: 100vh;
      background-image: url('../img/slide_11.jpg');

}
.slide_11b_bg {   
      height: 100vh;
      background-image: url('../img/slide_11b.jpg');

}
.slide_12_bg {   
      height: 100vh;
      background-image: url('../img/slide_12.jpg');
}
.slide_bg {
         background-size: cover;
      background-position: bottom center;
        background-repeat: no-repeat; 
}
.slide_prop {
display:flex;justify-content:center;align-items:center;width:100%;height:100%; text-align: center;
}
.slide_01 h1 {
             margin: 0.1em;
    line-height: 1em;
      font-size: 7rem;
    display: block;
    font-family: "Neo-SansPro-Regular";
    text-transform: none;
}
.slide_01 h2 {
    font-size: 3rem;
        text-transform: none;
     line-height: 1em;
    display: block;
    font-family: "NexaSlabBoldItalic";
}
.slide_02 h2 {
        margin: 0.1em;
    line-height: 1em;
    display: block;
    font-family: "NeoSansPro-Bold";
    text-transform: uppercase;
}
.slide_03 h2 {
        margin: 0.1em;
    line-height: 1em;
    display: block;
    font-family: "NeoSansPro-Bold";
    text-transform: uppercase;
}
.slide_04 h2 {
        margin: 0.1em;
    line-height: 1em;

    display: block;
    font-family: "NeoSansPro-Bold";
    text-transform: uppercase;
}
.slide_05 h2 {
        margin: 0.1em;
    line-height: 1em;
 
    display: block;
    font-family: "NeoSansPro-Bold";
    text-transform: uppercase;
}
        html, body {
            position:absolute;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #slider1_container {
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssorb064 {position:absolute;}
        .jssorb064 .i {position:absolute;cursor:pointer;}
        .jssorb064 .i .b {fill:#000;fill-opacity:.5;stroke:#fff;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
        .jssorb064 .i:hover .b {fill-opacity:.8;}
        .jssorb064 .iav .b {fill:#ffe200;fill-opacity:1;stroke:#ffaa00;stroke-opacity:.7;stroke-width:2000;}
        .jssorb064 .iav:hover .b {fill-opacity:.6;}
        .jssorb064 .i.idn {opacity:.3;}

        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
@media screen and (max-width: 1920px) {
    h2 {
       font-size: 4rem;
    }
}